@charset "UTF-8";
/*-------------------------------
    0.0 Import
        * 0.1 Font
    1.0 Generalization 일반화
        * 1.1 Tag Style : Normalize 표준화
            - 1.1.1 ALL Element
            - 1.1.2 Typography
            - 1.1.3 Link & Button
        *1.2 Class Style : Normalize 표준화
            - 1.2.1 common & align
            - 1.2.2 Typography
    2.0 Component Style
        * 2.1 Header
            - 2.1.1 Nav
            - 2.1.2 Sub Menu
        * 2.2 Footer

-------------------------------*/
/*-------------------------------
  0.0 Import
-------------------------------*/
/* 0.1 Font */
/* Pretendard - Thin */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url("../../public/fonts/Pretendard-Thin.otf") format('opentype');
}
/* Pretendard - Medium */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url("../../public/fonts/Pretendard-Medium.otf") format('opentype');
}
/* Pretendard - SemiBold */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url("../../public/fonts/Pretendard-SemiBold.otf") format('opentype');
}

/*-------------------------------
  1.0 Generalization 일반화
-------------------------------*/
/* 1.1 Tag Style */
/* 1.1.1 ALL Element */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Pretendard', sans-serif;
    box-sizing: border-box;
}
html,
body {
    min-width: 320px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.32px;
    color: #1B1716;
    word-break: keep-all;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a,
span,
strong,
em {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
img {
    width: 100%;
    vertical-align: middle;
}
ol,ul {
    list-style: none;
}
select {
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
header,
main,
section,
footer {
    position: relative;
}
/* 1.1.2 Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
h1 {
    font-size: 3.375rem; /* 54px */
    line-height: 1.3;
}
h2 {
    font-size: 2.625rem; /* 42px */
    line-height: 1.4;
}
h3 {
    font-size: 2rem; /* 32px */
    line-height: 1.4;
}
h4 {
    font-size: 1.375rem; /* 22px */
    line-height: 1.4;
}
h5 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
}
h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
}
p {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
}

/* 1.1.3 Link & Button */
button {
    cursor: pointer;
}

/* 1.2 Class Style */
/* 1.2.1 common & align */
.flex {
    display: flex;
}
.nowrap {
    white-space: nowrap;
}
.off {
    display: none;
}
.sr-only {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 1.2.2 Typography */
.weight300 {
    font-weight: 300;
}
.weight500 {
    font-weight: 500;
}
.weight600 {
    font-weight: 600;
}
.alignL {
    text-align: left;
}
.alignC {
    text-align: center;
}
.alignR {
    text-align: right;
}
.color_orange {
    color: #F54B1E;
}
.color_lightGray {
    color: #999999;
}

/* 반응형 1100이하 1차 적용*/
/* 헤더가 모바일용과 PC용으로 나눠져 잇음*/
/*-------------------------------
  2.0 Component Style
-------------------------------*/
/* 2.1 Header */
/* 2.1.1 nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 97px;
    padding: 0 40px;
    border-bottom: 1px solid #D9D9D9;
}
.logo,
.selectLang  {
    flex: 0 0 234px;
}
.logo a {
    display: flex;
}
.gnb {
    display: flex;
}
.gnb li:not(.off),
.subMenu > div:not(.emptyBox) li {
    display: flex;
    width: 160px;
    justify-content: center;
}
.selectLang select {
    font-size: 18px;
    text-align: right;
    padding-right: 20px;
    background: url("../../public/assets/lang_arrow_black.svg") right center no-repeat;
}
.gnb select {
    color: #FFF;
    font-size: inherit;
    font-weight: 500;
    background: url("../../public/assets/lang_arrow.svg") right center no-repeat;
}
.mobileBtn {
    display: none;
    width: 22px;
    height: 22px;
    background: transparent;
    flex-direction: column;
    padding: 4px 0;
    justify-content: space-between;
}
.mobileBtn span:not(.sr-only) {
    width: 100%;
    height: 1px;
    background: #282625;
}
.closeBtn {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 37px;
    right: 20px;
    z-index: 2;
}
.closeBtn span:not(.sr-only) {
    height: 2px;
    transform: rotate(45deg);
    background: #FFF;
}
.closeBtn span:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 7.5px;
}
.closeBtn span:nth-child(2) {
    transform: rotate(-45deg);
    margin-bottom: 7.5px;
}

/* 2.1.2 Sub Menu */
.subMenu {
    position: fixed;
    top: 97px;
    display: none;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 20px 40px;
    border-bottom: 1px solid #D9D9D9;
    background: #FFF;
    z-index: 1;
}
.subMenu li {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.subMenu .emptyBox {
    flex: 0 0 234px;
}

/* 2.2 Footer */
footer {
    display: flex;
    justify-content: space-between;
    color: #8b8989;
    font-weight: 300;
    padding: 52px 88px 95px;
    background: #161515;
}
footer ul {
    font-size: .875rem;
}
.subscribeBtn {
    position: fixed;
    right: 0;
    bottom: 90px;
    font-weight: 500;
    color: #FFF;
    line-height: 22px;
    padding: 20px 10px 50px 10px;
    writing-mode: sideways-lr;
    border-radius: 8px 0 0 8px;
    background: #f54b1e url("../../public/assets/float_icon.png") bottom 16px center no-repeat;
}
.footerLogo {
    width: 143px;
    margin-bottom: 20px;
}
.footerContent > a {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 5px 0;
}
.footerContent ul {
    display: flex;
    flex-wrap: wrap;
}
.footerContent li {
    padding: 5px 0;
}
.footerContent li:not(:last-of-type) {
    margin-right: 18px;
}
.footerContent ul:nth-of-type(2) li:first-child {
    color: #7f6d1c;
}
.footerContent p {
    margin-top: 10px;
}
.selectFamilySite select {
    width: 230px;
    height: 48px;
    font-size: 0.875rem;
    color: #fff;
    border-radius: 30px;
    opacity: 0.6;
    margin-left: 30px;
    padding: 0 24px;
    background: rgba(255, 255, 255, 0.08) url("../../public/assets/plus_white.svg") right 19px center no-repeat;
}

/* Responsive */
@media (max-width: 1200px) {
    /* 2.1 Header */
    .logo,
    .subMenu .emptyBox,
    .selectLang {
        flex: 0 0 180px;
    }
}
@media (max-width: 1079px) {
    /* 2.1 Header */
    .selectLang,
    .subMenu .emptyBox:last-child {
        flex: 0 0 120px;
    }
}
@media (max-width: 1019px) {
    /* 2.1 Header */
    .selectLang,
    .subMenu .emptyBox:last-child {
        flex: 0 0 93px;
    }
}
@media (max-width: 992px) {
    /* 1.1.2 Typography */
    p {
        font-size: .75rem;
    }
    /* 2.1 Header */
    nav {
        padding: 0 20px;
    }
    .gnb,
    .selectLang:not(.mobileSelectLang) {
        display: none;
    }
    .mobileBtn {
        display: flex;
    }
    .gnb {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        justify-content: end;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    .gnb ul {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        color: #FFF;
        padding: 0 40px;
        background: #141415;
    }
    .gnb li {
        text-transform: uppercase;
        justify-content: flex-start!important;
        padding: 20px 0;
    }
    .gnb li.off {
        display: flex;
    }
    .gnb li:nth-child(3),
    .closeBtn span:nth-last-child(2) {
        display: none;
    }

    /* 2.2 Footer */
    footer {
        flex-direction: column;
        padding: 36px 26px 65px;
    }
    .selectFamilySite select {
        margin-left: 0;
        margin-top: 40px;
    }

}
@media (max-width: 768px) {
    /* 1.1 Tag Style */
    html, body {
        font-size: 14px;
    }
    /* 2.1 Header */
    nav {
        height: 60px;
    }
}
