@charset "UTF-8";
/*-------------------------------
    0.0 Import
        * 0.1 Font
    1.0 Generalization 일반화
        * 1.1 Tag Style : Normalize 표준화
            - 1.1.1 ALL Element
            - 1.1.2 Typography
            - 1.1.3 Link & Button
        *1.2 Class Style : Normalize 표준화
            - 1.2.1 common & align
            - 1.2.2 Typography
    2.0 Component Style
        * 2.1 Header
            - 2.1.1 Nav
            - 2.1.2 Sub Menu
        * 2.2 Footer

-------------------------------*/
/*-------------------------------
  0.0 Import
-------------------------------*/
/* 0.1 Font */
/* Pretendard - Thin */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url("/public/fonts/Pretendard-Thin.otf") format('opentype');
}
/* Pretendard - Medium */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url("/public/fonts/Pretendard-Medium.otf") format('opentype');
}
/* Pretendard - SemiBold */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url("/public/fonts/Pretendard-SemiBold.otf") format('opentype');
}

/*-------------------------------
  1.0 Generalization 일반화
-------------------------------*/
/* 1.1 Tag Style */
/* 1.1.1 ALL Element */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Pretendard', sans-serif;
    box-sizing: border-box;
}
html, body {
    min-width: 320px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.32px;
    color: #1B1716;
    word-break: keep-all;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a, span, strong, em {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
img {
    width: 100%;
    vertical-align: middle;
}
ol,ul {
    list-style: none;
}
select {
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
header, main, section, footer {
    position: relative;
}
/* 1.1.2 Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1 {
    font-size: 3.375rem; /* 54px */
    line-height: 1.3;
}
h2 {
    font-size: 2.625rem; /* 42px */
    line-height: 1.4;
}
h3 {
    font-size: 2rem; /* 32px */
    line-height: 1.4;
}
h4 {
    font-size: 1.375rem; /* 22px */
    line-height: 1.4;
}
h5 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
}
h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
}
p {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
}

/* 1.1.3 Link & Button */
button {
    cursor: pointer;
}

/* 1.2 Class Style */
/* 1.2.1 common & align */
.flex {
    display: flex;
}
.nowrap {
    white-space: nowrap;
}
.off {
    display: none;
}
.sr-only {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* 1.2.2 Typography */
.weight300 {
    font-weight: 300;
}
.weight500 {
    font-weight: 500;
}
.weight600 {
    font-weight: 600;
}
.alignL {
    text-align: left;
}
.alignC {
    text-align: center;
}
.alignR {
    text-align: right;
}
.color_orange {
    color: #F54B1E;
}
.color_lightGray {
    color: #999999;
}
